{% extends app['mp.user.template.layout'] %}
{% block content %}
    <h4>User Profile</h4>
    <dl>
        <dt>Username</dt>
        <dd>{{ app.security.token.user.username }}</dd>
    </dl>
    <dl>
        <dt>Email</dt>
        <dd>{{ app.security.token.user.email }}</dd>
    </dl>
{% endblock %}