{% extends app['mp.user.template.layout'] %}
{% block mp_user_content %}
<h4>Please login</h4>
<form action="{{ path('mp.user.route.login.check')}}" method='POST'>
    <div>  {{ error }}</div>
    <div>
        <div>
            <label for="login">login
            </label>
            <input type="text" id="username" name='_username' value='{{last_username}}' />
        </div>

        <div>
            <label for="password">password
            </label>
            <input id="password" type="password" name='_password'/>
        </div>
    </div>
    <div> <input class='btn' type="submit" value="Login" /></div>
</form>
{% endblock %}