<p id='rsvpmsq'>
{% if app.security.isGranted('IS_AUTHENTICATED_FULLY') %}
    {% if dinner.isUserRegistered(app.security.token.user) %}
    <span class='text-success'>You are registered for this event !</span>
        {% if dinner.host != app.security.token.user %}
    <br/>
    <br/>
    <span>
        <a class='btn btn-primary'  id="unregister-button"
           data-url="{{path('mp_rdv_rsvp_unregister',{id:dinner.id,attendeeName:app.security.token.user.username})}}">
            Unregister this event
        </a>
    </span>
        {% endif %}
    {% else %}
    <a class='btn btn-primary' id="register-button"  data-url="{{path('mp_rdv_rsvp_register',{id:dinner.id})}}">
        RSVP for this event 
    </a>
    {% endif %}
{% else %} 

    <a href="{{path('mp.user.route.login')}}">Logon</a> to RSVP for this event.
{% endif %}
</p>